@model SalonDeBelleza.BL.Categoria

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

< h3 > & iquest ; Esta seguro que desea eliminar esta categoria? </ H3 >
< div >
    < h4 > Categoria </ h4 >
    < h />
    < dl  class = " dl-horizontal " >
        < dt >
@ Html.DisplayNameFor (modelo => modelo.Descripcion)
        </ dt >

        < dd >
@ Html.DisplayFor (modelo => modelo.Descripcion)
        </ dd >

    </ dl >

@ usando ( Html . BeginForm ()) {
@ Html.AntiForgeryToken ()

        < div  class = " acciones de formulario sin color " >
            < input  type = " submit "  value = " Delete "  class = " btn btn-default " /> |
@ Html.ActionLink ( "Regresar a la lista", "Índice")
        </ div >
    }
</ div >