
@{
    ViewBag.Title = "Index";
}

<h2>Salon de Belleza - Sitio de Administracion</h2>

<div>
    <img src="~/Imagenes/portada.jpg" alt="Salon de Belleza Glady's" style="width: 100%; max-width: 600px;" />
</div>